@import url(./utils/normalize.css);
@font-face {
  font-family: 'Styrene A Web';
  src: url(./fonts/StyreneAWeb-Medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Styrene A Web';
  src: url(./fonts/StyreneAWeb-Medium.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Styrene A Web';
  src: url(./fonts/StyreneAWeb-Black.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Styrene A Web';
  src: url(./fonts/StyreneAWeb-Light.woff);
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

